<!-- app/views/pages/slider.html.erb -->

<% content_for :head do %>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" />
<% end %>

<div class="flex-container">
  <div id="slider"></div>
</div>
<%= javascript_pack_tag 'slider' %>
