
.search-results {
  margin-top: 5rem;
}

.suggestionsLabel {
  color: grey;
  flex: 0 auto;
  margin-right: 5px;
  white-space: nowrap;
}

.suggestions {
  ul {
    display: inline-flex;
    padding-left: 0;
  }

  ul li {
    flex: 0 auto;
    box-flex: 0;
    border-right: 1px solid grey;
    list-style: none;
    padding: 0 .5em;

    a {
      color: white;
    }
  }
}

