// app/assets/stylesheets/modules/search_results/_manifest.scss

.not-found {
  margin-top: 5rem;
  color: white;

  .not-found-query {
    @include bp-tablet {
      white-space: nowrap;
    }
  }
}

.search-results {
  min-height: 70vh;
  margin-top: 5rem;
}

.suggestionsLabel {
  @media (max-width: 767px) {
    display: block;
    padding-left: 1.5rem;
    margin: 0 -5% .5rem;
    color: $white;
    background-color: #444343;
    font-weight: bold;
    letter-spacing: .03rem;
    line-height: 1.5;
  }

  @media (min-width: 768px) {
    color: grey;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    flex: 0 auto;
    margin-right: 5px;
    white-space: nowrap;
  }
}

.suggestions {
  display: block;
  margin: 10px 0 20px 0;

  @media (min-width: 768px) {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }

  ul {
    display: block;

    @media (min-width: 768px) {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
    }
  }

  ul li {
    padding: 0 .5rem;
    margin: .8rem 0;
    list-style: none;

    a {
      color: white;
    }

    @media (min-width: 768px) {
      -webkit-box-flex: 0;
      -webkit-flex: 0 auto;
      -moz-box-flex: 0;
      -ms-flex: 0 auto;
      flex: 0 auto;
      border-right: 1px solid grey;
      padding: 0 .5em;
      margin: 0;
    }
  }

  ul li:last-child {
    border: none;
  }
}

.search-results-col {
  margin-bottom: 5.5vw;
}

.suggestionHeader {
  padding: 2rem 0;

  .title {
    color: white;
    font-size: 28px;
  }
}

