// app/assets/stylesheets/layouts/_main.scss

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 0px;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 20px;
  background-color: $dark-bg;
}

nav {
  min-height: 70px;
}

main {
  flex: 1 0 auto;
}
