// app/assets/stylesheets/layouts/_main.scss

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
  font-size: 14px;
}

nav {
  min-height: 70px;
}

main {
  flex: 1 0 auto;
}
