// app/assets/stylesheets/ui_patterns/posters/_manifest.scss

@import "ui_patterns/posters/mixins";

.poster-container {
  @include bp-poster-width;
  @include poster-container;
  @include bp-tablet {
    height: 8.13868em;
  }

  .poster {
    margin: 0 2px;
    height: 100%;
  }

  &:hover {
    box-shadow: 2px 2px 40px $azure-radiance;
    z-index: 2;

    .poster {
      margin: 0;

      span .movie-info {
        display: block;
      }
    }
  }
}

.poster {
  span .movie-info {
    display: none;
    color: white;
    transition: display .4s;
  }
}
