// app/assets/stylesheets/ui_patterns/posters/_manifest.scss

@import "ui_patterns/posters/mixins";

#bob-open {
  transform: scale(1.75) translate3d(-54px, 0px, 0px) !important;
}

.poster-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.poster-container {
  @include bp-poster-dimensions;
  @include poster-container;

  .poster {
    margin: 0 2px;
    height: 100%;
  }

  &.mouseOver {
    z-index: 2;

    .poster {
      margin: 0;
    }

    .poster-overlay {
      background: rgba(0, 0, 0, .1);
    }

    .poster-controls:hover {
      .movie-info span.play-icon {
        color: $white;
      }
    }

    .movie-info span.play-icon {
      color: red;
    }
  }
}

.poster-controls {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.poster-buttons {
  position: absolute;
  right: 4%;
  bottom: 10%;
  padding: 0;
  margin: 0;
  transition: all .6s;

  li {
    display: block;
    font-size: .5rem;
    line-height: 1;
    margin: .1rem 0;

    &:focus {
      outline: 0;
    }
  }
}

.poster-btn {
  button {
    border: .1em solid rgba(255,255,255,.5);
    border-radius: 50%;
    padding: .3em;
    margin: .1em;
    background: rgba(0,0,0,.5);
    -webkit-font-smoothing: subpixel-antialiased;
    backface-visibility: hidden;
    transition: all .2s;
    pointer-events: all;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
      outline: 0;
      border-color: $white;
      background: rgba(0,0,0,.7);
    }

    &:focus {
      outline: 0;
    }
  }

  button i {
    width: 1em;
    height: 1em;
    color: $white;
    font-size: .46rem;
    -webkit-font-smoothing: subpixel-antialiased;
    backface-visibility: hidden;
  }
}

.poster-btn-like, .poster-btn-unlike {
  button:focus {
    transform: scale(1.1);
    border-color: $white;
    background: rgba(0,0,0,.7);
  }
}

.poster-btn.hidden {
  visibility: hidden;
}

.poster-btn.move-down {
  transition: all .3s;
  transition-delay: .8s;
  transform: scale(1.048) translateY(15px) translateZ(0);
}

.poster-btn.move-down-selected {
  transition: all .3s;
  transition-delay: .8s;
  transform: scale(1.048) translateY(15px) translateZ(0);
}

.poster-btn.move-up {
  transition: all .3s;
  transition-delay: .8s;
  transform: scale(1.048) translateY(0px) translateZ(0);
}

.poster-btn.static {
  transition: all .3s;
  transition-delay: .8s;
  transform: scale(1.048) translateY(0px) translateZ(0);
}

.movie-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 6%;
  padding-left: 4%;
  color: $white;
  text-shadow: $black 1px 1px 1px,
               $black 1px 1px 1px,
               $black 0px 0px 0px,
               $black 0px 0px 0px;
  line-height: 1;
  transition: all .4s;
  pointer-events: none;

  div {
    margin: 2% 0;
  }

  span.play-icon {
    top: 0;
    box-sizing: border-box;
    display: block;
    width: 1rem;
    height: 1rem;
    font-size: .5rem;
    text-shadow: none;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    border: solid 1px white;
    border-radius: 50%;
    padding-top: .17rem;
    padding-left: .25rem;
    text-align: center;
    text-decoration: none;
  }

  h3 {
    margin: 0;
    font-size: .7em;
    font-weight: bold;
  }

  span {
    display: inline-block;
    position: relative;
    top: -1px;
    padding: 1%;
    margin-right: 2%;
    font-size: .55rem;
  }

  span.rating {
    padding: 1px 2px;
    border: solid 1px hsla(247, 15%, 96%, 0.7);
    background: rgba(0, 0, 0, 0.6);
    line-height: 1;
  }

  p {
    position: relative;
    top: -1px;
    margin: 0;
    font-size: .55rem;
  }
}
