<%# app/views/home/_carousel.html.erb %>

<div id="carouselMain" class="carousel slide carousel-fade" data-ride="false">
  <div class="carousel-inner">
    <div class="carousel-item active pirates-slide">
      <div class="slide-info">
        <img src="pirates-logo.png" class="img-fluid movie-logo"/>

        <div class="movie-content">
          <span class="movie-year">2003</span>
          <span class="movie-rating">PG-13</span>
          <span class="movie-length">2h 23min</span>

          <p class="blurb">
            A sword-handy blacksmith teams up with a clever yet eccentric
            outlaw to rescue his love from a crew of undead pirates.
          </p>

          <div class="slide-buttons">
            <a href="/movies/9" class="btn-blue" id="play"><i class="fa fa-play"></i>PLAY</a>
            <a href="#" class="btn-clear"><i class="fa fa-plus"></i>MY LIST</a>
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-item avengers-slide">
      <div class="slide-info">
        <img src="avengers-logo.png" class="img-fluid movie-logo"/>

        <div class="movie-content">
          <span class="movie-year">2012</span>
          <span class="movie-rating">PG-13</span>
          <span class="movie-length">2h 23min</span>

          <p class="blurb">
            They're the most powerful people on Earth, but cooperation
            is a touchy subject.
          </p>

          <div class="slide-buttons">
            <a href="/movies/1" class="btn-blue" id="play"><i class="fa fa-play"></i>PLAY</a>
            <a href="#" class="btn-clear"><i class="fa fa-plus"></i>MY LIST</a>
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-item skyfall-slide">
      <div class="slide-info">
        <img src="skyfall-logo.png" class="img-fluid movie-logo"/>

        <div class="movie-content">
          <span class="movie-year">2012</span>
          <span class="movie-rating">PG-13</span>
          <span class="movie-length">2h 23min</span>

          <p class="blurb">
            Terror hits London as 007 races to defend M from a tech-savvy
            former agent out for revenge.
          </p>

          <div class="slide-buttons">
            <a href="/movies/1" class="btn-blue" id="play"><i class="fa fa-play"></i>PLAY</a>
            <a href="#" class="btn-clear"><i class="fa fa-plus"></i>MY LIST</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <a class="carousel-control-prev" href="#carouselMain" role="button" data-slide="prev">
    <span class="fa fa-angle-left slider-arrow slider-prev">
      <p class="sr-only">Go to next slide</p>
    </span>
  </a>

  <a class="carousel-control-next" href="#carouselMain" role="button" data-slide="next">
    <span class="fa fa-angle-right slider-arrow slider-next">
      <p class="sr-only">Go to previous slide</p>
    </span>
  </a>
</div>

<script>
  var $carousel = $('.carousel');

  $('.carousel-control-prev').click(function() {
    $carousel.carousel('pause');
  });

  $('.carousel-control-next').click(function() {
    $carousel.carousel('pause');
  });
</script>
