<div class="container" style="background-color: white">
  <div class="row mt-4 mb-4">
    <div class="col-12">
      <h1 class="text-center">Query Labs</h1>
    </div>

    <div class="col-12">
      <%= debug @results %>
    </div>
  </div>
</div>
