// app/assets/stylesheets/modules/home_carousel/_manifest.scss

.carousel {
  .carousel-inner {
    height: 50vw;
  }

  .carousel-item {
    height: 100%;

    .poster-overlay {
      background: rgba(0, 0, 0, 0.1);
    }
  }

  .carousel-control-prev, .carousel-control-next {
    background: transparent;
    border: none;
    transition: background .4s;

    &:hover {
      background: rgba(0,0,0,.75);
    }
  }
}

.slider-arrow {
  color: white;
  font-size: 2.5em;
  z-index: 5;
  transition: all .3s ease;
  position: relative;
  cursor: pointer;

  &:hover {
    transform: scale(1.5);
  }
}
